## Behavioral Health Data Analysis

I am a Data Science Graduate Student looking to provide practical insights to the healthcare industry. My goal is to be able to boost healthcare quality by data-driven decision-making.

This dataset is obtained from The Behavioral Risk Factor Surveillance System, which nationally collects state data about their health-related risk behaviors. This dataset specifically shows data from the 2015 BRFSS Survey.

### Ask

After reading an article entitled, "Better Care through Understanding the Customer, Not Just the Patient," from United Health Group and Optum's Insights page, I was curious and wanted to do some research on factors that may disincentivize persons from visiting the doctor.

### Task

Using the data provided, I am performing an exploratory data analysis that will determine the most important factors that may effect the likelihood that a customer/patient visits the doctor.

### Import Libraries

In [2]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
fileName = 'BRFSS2015.csv'
health1 = pd.read_csv(fileName)

In [4]:
health=health1.copy()

In [54]:
#view data
health.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,1.0,1.0,b'01292015',b'01',b'29',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
1,1.0,1.0,b'01202015',b'01',b'20',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,2.0,2.0,3.0,3.0,4.0,2.0,2.0,NaN,NaN,2.0
2,1.0,1.0,b'02012015',b'02',b'01',b'2015',1200.0,2.015000e+09,2.015000e+09,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,NaN
3,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,9.0
4,1.0,1.0,b'01142015',b'01',b'14',b'2015',1100.0,2.015000e+09,2.015000e+09,1.0,...,4.0,2.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0

In [6]:
health.shape
#how many rows and attributes

(441456, 330)

In [7]:
health.info()
#almost all of the values are numerical
#codebook is used

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441456 entries, 0 to 441455
Columns: 330 entries, _STATE to _AIDTST3
dtypes: float64(323), object(7)
memory usage: 1.1+ GB

In [8]:
health.describe()

,_STATE,FMONTH,DISPCODE,SEQNO,_PSU,CTELENUM,PVTRESD1,COLGHOUS,STATERES,CELLFON3,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
count,441456.000000,441456.000000,441456.000000,4.414560e+05,4.414560e+05,254645.0,254645.000000,45.0,254643.0,254646.000000,...,441456.000000,441456.000000,438657.000000,438657.000000,438657.000000,441456.000000,441456.000000,157954.000000,157954.000000,398069.000000
mean,29.968715,6.359676,1115.040457,2.015005e+09,2.015005e+09,1.0,1.000177,1.0,1.0,1.545133,...,3.494124,2.742695,2.716879,2.815149,3.652717,1.824624,1.887028,2.290705,2.412259,1.970156
std,16.034710,3.487131,35.746794,4.113443e+03,4.113443e+03,0.0,0.013292,0.0,0.0,0.497960,...,2.398322,2.449676,1.324145,1.356101,1.266730,2.360812,2.351387,2.518086,2.778032,1.441119
min,1.000000,1.000000,1100.000000,2.015000e+09,2.015000e+09,1.0,1.000000,1.0,1.0,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,19.000000,3.000000,1100.000000,2.015002e+09,2.015002e+09,1.0,1.000000,1.0,1.0,1.000000,...,2.000000,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,29.000000,6.000000,1100.000000,2.015004e+09,2.015004e+09,1.0,1.000000,1.0,1.0,2.000000,...,3.000000,2.000000,3.000000,3.000000,4.000000,1.000000,1.000000,1.000000,1.000000,2.000000
75%,44.000000,9.000000,1100.000000,2.015007e+09,2.015007e+09,1.0,1.000000,1.0,1.0,2.000000,...,4.000000,2.000000,3.000000,3.000000,4.000000,1.000000,1.000000,2.000000,2.000000,2.000000
max,72.000000,12.000000,1200.000000,2.015023e+09,2.015023e+09,1.0,2.000000,1.0,1.0,2.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

### Data Exploration Questions

1. Which State had the most amount of people without healthcare?

In [44]:
by_state = health.groupby(['_STATE'])['HLTHPLN1'].value_counts().unstack()
by_state[by_state[2.0] == by_state[2.0].max()]
#state 48 which is Texas

#even further, the top 5 states that have the most people without healthcare
#texas, kansas, nebraska, california, and colorado
by_state[2.0].nlargest(5)

_STATE
48.0    2125
20.0    2027
31.0    1367
6.0     1241
8.0     1139
Name: 2.0, dtype: int64

2.What is the percentage of people in Texas who did not see a doctor because of cost?

In [151]:
len(health[(health['_STATE'] == 48) & (health['MEDCOST'] == 1)]) /len(health[(health['_STATE'] == 48)])
#14%

0.14152548139076002

3. What percentage of people without healthcare, have had days where there mental health was not good?

In [156]:
len(health[(health['HLTHPLN1'] == 2) & (health['MENTHLTH'] <= 30)]) / len(health[health['HLTHPLN1'] == 2])

0.3680286961946351

About 37%

### Taking a Look into Socioeconomic Factors

In [7]:
#creating a new small dataset only with the attributes I will be using
health_small = health[['_STATE', 'CHILDREN', 'HLTHPLN1', 'MENTHLTH', 'CHECKUP1', 'SCNTWRK1',
                      'MEDCOST']]
health_small

        _STATE  CHILDREN  HLTHPLN1  MENTHLTH  CHECKUP1  SCNTWRK1  MEDCOST
0          1.0      88.0       1.0      18.0       1.0       NaN      2.0
1          1.0      88.0       2.0      88.0       4.0       NaN      1.0
2          1.0      88.0       1.0      88.0       1.0       NaN      2.0
3          1.0       1.0       1.0      30.0       1.0       NaN      1.0
4          1.0      88.0       1.0      88.0       1.0       NaN      2.0
...        ...       ...       ...       ...       ...       ...      ...
441451    72.0      88.0       1.0      88.0       1.0       NaN      2.0
441452    72.0       1.0       1.0      88.0       1.0       NaN      2.0
441453    72.0      88.0       1.0      20.0       1.0       NaN      2.0
441454    72.0      88.0       1.0      88.0       1.0       NaN      2.0
441455    72.0      88.0       1.0      88.0       1.0       NaN      2.0

[441456 rows x 7 columns]

In [122]:
health_small['CHILDREN'].value_counts()

88.0    324000
1.0      46376
2.0      40614
3.0      17313
4.0       6371
99.0      3632
5.0       1997
6.0        716
7.0        241
8.0         96
9.0         39
10.0        24
12.0        10
11.0         3
13.0         3
32.0         2
20.0         2
23.0         2
22.0         2
15.0         2
14.0         1
52.0         1
41.0         1
18.0         1
77.0         1
17.0         1
Name: CHILDREN, dtype: int64

To simplify my analysis on the effect the amount of children have on the likelihood of a doctor visit for a checkup, I want to bin the amounts.

In [8]:
#setup bins
bins = [0, 2, 4, 6, 9, 76, 100]
health_small['CHILD_BINS'] = pd.cut(health_small['CHILDREN'], bins, labels = ['2 or less', '3-5',
                                                                              '6-9', '10-12', '13+',
                                                                              'unknown'])

/var/folders/9z/dg9j4kys3r9d8tlf0jz5n_w80000gn/T/ipykernel_1188/270854979.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  health_small['CHILD_BINS'] = pd.cut(health_small['CHILDREN'], bins, labels = ['2 or less', '3-5',

In [124]:
#checking children value_counts()
health_small['CHILD_BINS'].value_counts()
#remember, ( is open(not included) and ] is closed(inclusive)

unknown      327633
2 or less     86990
3-5           23684
6-9            2713
10-12           376
13+              55
Name: CHILD_BINS, dtype: int64

The attribute 'CHECKUP1' reveals "About how long has it been since you last visited a doctor for a routine checkup?"
Now that it is binned by the number of children in a household, we can see that as the number of children increase, the less likely a person is to visit the doctor with 1 year's time.

We can see that about 66% of people with 2 or less children have visited the doctor within the last year; while 61% of people with 3-5 children have visited within the last year.
56% For households with 6-9 children and 50% for households with 10-12 children.

In [37]:
health_small.groupby('CHILD_BINS').CHECKUP1.value_counts(normalize=True)

CHILD_BINS  CHECKUP1
2 or less   1.0         0.663341
            2.0         0.149017
            3.0         0.088206
            4.0         0.076331
            7.0         0.011898
            8.0         0.010300
            9.0         0.000908
3-5         1.0         0.612101
            2.0         0.160108
            3.0         0.104205
            4.0         0.092932
            8.0         0.015200
            7.0         0.014525
            9.0         0.000929
6-9         1.0         0.561740
            2.0         0.162551
            3.0         0.128640
            4.0         0.109473
            8.0         0.021010
            7.0         0.015112
            9.0         0.001474
10-12       1.0         0.502660
            3.0         0.143617
            4.0         0.132979
            2.0         0.127660
            8.0         0.055851
            7.0         0.037234
13+         1.0         0.600000
            4.0         0.218182
            2.0         0.109091
            3.0         0.072727
unknown     1.0         0.767575
            2.0         0.101571
            3.0         0.055007
            4.0         0.054229
            7.0         0.012264
            8.0         0.007658
            9.0         0.001697
Name: CHECKUP1, dtype: float64

I will do some similar binning for the amount of hours that a person works a week.

In [136]:
health_small['SCNTWRK1'].value_counts()

40.0    11045
50.0     4490
45.0     2499
60.0     2426
30.0     1656
        ...
73.0        1
89.0        1
81.0        1
59.0        1
93.0        1
Name: SCNTWRK1, Length: 96, dtype: int64

In [9]:
#setup bins
bins2 = [0, 20, 40, 60, 96, 100]
health_small['WORKED_HRS'] = pd.cut(health_small['SCNTWRK1'], bins2, labels = ['20 or less', '21-40',
                                                                               '41-60','61 +','unknown'])

/var/folders/9z/dg9j4kys3r9d8tlf0jz5n_w80000gn/T/ipykernel_1188/3742697297.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  health_small['WORKED_HRS'] = pd.cut(health_small['SCNTWRK1'], bins2, labels = ['20 or less', '21-40',

In [158]:
health_small['WORKED_HRS'].value_counts()

21-40         16834
41-60         11923
20 or less     2961
61 +           2072
unknown         944
Name: WORKED_HRS, dtype: int64

The data below shows that someone who works 20 or less hours a week is more likely to go to the doctor within a year's time than someone who works more than 21-40 hours. 
Those working 21-40 hours are more likely to visit the doctor more than those working 41-60 hours a week.

In [162]:
health_small.groupby(['WORKED_HRS'])['CHECKUP1'].value_counts(normalize=True)

WORKED_HRS  CHECKUP1
20 or less  1.0         0.710233
            2.0         0.124958
            3.0         0.075650
            4.0         0.059777
            7.0         0.016548
            8.0         0.011820
            9.0         0.001013
21-40       1.0         0.694547
            2.0         0.131579
            3.0         0.078769
            4.0         0.073066
            7.0         0.012000
            8.0         0.009564
            9.0         0.000475
41-60       1.0         0.676088
            2.0         0.142833
            4.0         0.081859
            3.0         0.079846
            7.0         0.009645
            8.0         0.009394
            9.0         0.000335
61 +        1.0         0.644305
            2.0         0.138031
            4.0         0.105212
            3.0         0.087355
            8.0         0.018340
            7.0         0.006274
            9.0         0.000483
unknown     1.0         0.659958
            2.0         0.123941
            4.0         0.090042
            3.0         0.070975
            7.0         0.030720
            8.0         0.013771
            9.0         0.010593
Name: CHECKUP1, dtype: float64

### Taking a look into likelihood of visiting a doctor based on ownership and pay

Below we see the percentages related to people who own and rent homes whether there was a time when they needed to see a doctor in the past 12 months but could not because of cost.

We can see that about 18% of renters could not see a doctor within the past year due to cost, compared to 7% of homeowners.

In [163]:
health.groupby(['RENTHOM1'])['MEDCOST'].value_counts(normalize=True)

RENTHOM1  MEDCOST
1.0       2.0        0.927963
          1.0        0.070079
          7.0        0.001547
          9.0        0.000411
2.0       2.0        0.818515
          1.0        0.177259
          7.0        0.003454
          9.0        0.000772
3.0       2.0        0.844752
          1.0        0.150448
          7.0        0.004024
          9.0        0.000776
7.0       2.0        0.848238
          1.0        0.135501
          7.0        0.014905
          9.0        0.001355
9.0       2.0        0.898129
          1.0        0.087318
          9.0        0.009563
          7.0        0.004990
Name: MEDCOST, dtype: float64

Below we see the percentages related to people who are paid by salary, hourly, and in other ways and whether there was a time when they needed to see a doctor in the past 12 months but could not because of cost.

The data shows that 13% of people who are paid hourly could not see a doctor within the past year due to cost, compared to the 6% of people who are paid by salary.

In [5]:
health.groupby('SCNTPAID').MEDCOST.value_counts(normalize=True)

SCNTPAID  MEDCOST
1.0       2.0        0.941158
          1.0        0.057842
          7.0        0.000923
          9.0        0.000077
2.0       2.0        0.866728
          1.0        0.130642
          7.0        0.002446
          9.0        0.000183
3.0       2.0        0.873502
          1.0        0.123169
          7.0        0.003329
4.0       2.0        0.897215
          1.0        0.099241
          7.0        0.003544
7.0       2.0        0.883721
          1.0        0.098837
          7.0        0.011628
          9.0        0.005814
9.0       2.0        0.901186
          1.0        0.079051
          9.0        0.015810
          7.0        0.003953
Name: MEDCOST, dtype: float64

#### Visualizations coming soon

### Key Takeaways and Conclusion

In conclusion, socioeconomic factors such as the amount of children in a home and how many hours a person is working can help us determine the likelihood of a customer/patient coming into a doctor's office.
Furthermore, this can help us develop plans to accomodate the people who are least likely to come in and make it an easier and more affordable process, especially for the factors more effected by cost than time.